
<%= form_for @musician do |f| %>
<div class="container">

<div class="white-text">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="white-text">
  <%= f.label :albums %>
  <%= f.text_field :albums %>
</div>

<div class="white-text">
  <%= f.label :comments %>
  <%= f.text_field :comments %>
</div>

<div class="black-text"><%= f.submit %></div>

</div>
<% end %>
