
<h1 class="center"> <%= @musician.name %></h1>


<div class="container">
  <div class="row grey lighten-2">
    <div class="col s12"><h4>Albums</h4><p><%= @musician.albums %></p></div>
  </div>
  <div class="row grey">
    <div class="col s12 m6 l3"><h4>Comments</h4><p><%= @musician.comments %></p></div>
  </div>

  <div class="center">
   <%= link_to 'View Songs', musician_song_path(songs), class:'btn cyan white-text'%>

  <%= link_to 'Edit Musician', edit_musician_path(@musician), class:'btn cyan white-text'%>

  <%= link_to 'Delete Musician', musician_path(@musician), class:'btn cyan white-text', method: :delete, data: {confirm: 'Really Delete Musician?'} %>
</div>
</div>
